<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POST</title>
    <style>
        table, th ,td {
  border: 2px solid black;
}
    </style>
</head>
<body>
{{data}}
<hr>
<h2>posts Information</h2>
<table>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Date</th>
    <th>User</th>
    {% for post in data %}
    <tr>
        <td>{{post.id}}</td>
        <td>{{post.name}}</td>
        <td>{{post.category}}</td>
        <td>{{post.date}}</td>
        <td>{{post.user}}</td>

    </tr>
    {% endfor %}
</table>
</body>
</html>